/* Show the dropdown menu when hovering over the dropdown container */
.dropdown:hover > .dropdown-menu{
    display: block;
}

.logo-style{
    height: 42px !important;
    width: auto;
}

.badge-position{
    top:10px;
    left:85%;
}

